.card {
    margin-bottom: 20px;
    border-bottom: solid 1px #ddd;
}

.cardImage {
    height: 300px;
    background-size: cover;
}

.cardDescription {
    margin-left: 10px;
}

.cardControls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}

.cardLikes {
    display: flex;
    align-items: center;
}